html {
  --table-background: #ebecf0;
  --item-hover: #f6f6f6;
}
body {
  background-image: url(../img/why-mercury-it-background@2x.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
  font-size: 16px;
}
.tb-bg {
  background-color: var(--table-background);
}
.table {
  border: 1px solid var(--table-background);
  border-radius: 5px;
  position: relative;
}
.list-group-item {
  border: 1px solid;
  cursor: pointer;
}
.list-group-item:hover {
  background-color: var(--item-hover);
}
.list-group-item.onMove {
  position: absolute;
  z-index: 1000;
  width: 14rem;
}
